doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    a(href="/update-cobj") Add to this table
    table
      thead
        tr
          th First Name
          th Last Name
          th Company
      tbody
        each item in data
          tr
            td= item.properties.firstname
            td= item.properties.lastname
            td= item.properties.company
